includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/pestphp/pest/extension.neon

parameters:
    level: 1
    paths:
        - app
        - tests
    ignoreErrors:
        # Filament uses __get magic method for $this->form
        - '#Access to an undefined property .+::\$form#'
        # Pest uses $this bindings in beforeEach/test closures
        -
            identifier: property.notFound
            message: '#Access to an undefined property Pest\\PendingCalls\\TestCall::\$#'
        -
            identifier: method.notFound
            message: '#Call to an undefined method Pest\\PendingCalls\\TestCall::#'
        -
            identifier: variable.undefined
            message: '#Undefined variable: \$this#'
            reportUnmatched: false
